streamlit==1.37.1
httpx==0.27.0
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.32
langchain.experimental==0.0.64
langchain-openai==0.1.21
langchain-postgres==0.0.9
llm==0.11
pgvector==0.2.5
psycopg==3.2.1
psycopg-binary==3.2.1
psycopg2-binary==2.9.9
psycopg-pool==3.2.2
python-dotenv